<h2>Sign up</h2>
<div class='form_section'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :name, autocomplete: "name", placeholder: "Name" %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" %>

    <% if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
    <% else %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    <% end %>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>

    <%= f.submit "Sign up"%>
<% end %>

<div>
<%= render "devise/shared/links" %>
</div>
</div>
