<h2>Shoping list</h2>
<div class='content_details'>
    <h3>
      Amount of food items to buy: <%= @total_amount%>
    </h3>
    <h3>
      Total value of food needed: $<%= @total_value%>
    </h3>
</div>

<div class='content_table'>
<table>
  <thead>
    <tr>
      <th>Food <span class="arrows_rigth">
      <%= link_to raw('&#9650;'), shoping_lists_path(sort: true, row:'food', order: "asc")%>
      <%= link_to raw('&#9660;'), shoping_lists_path(sort: true, row:'food', order: "des") %>
      </span></th>
      <th>Quantity</th>
      <th>Price <span class="arrows_rigth">
      <%= link_to raw('&#9650;'), shoping_lists_path(sort: true, row:'price', order: "asc")%>
      <%= link_to raw('&#9660;'), shoping_lists_path(sort: true, row:'price', order: "des") %>
      </span></th>
    </tr>
  </thead>

  <tbody>
  <% @shoping_lists.each do |food| %>
  <tr>
    <td><%= food.name%></td>
    <td><%= food.quantity%> <%=food.measurement_unit%></td>
    <td>$<%= food.price%></td>
  </tr>
  <% end %>

  </tbody>
</table>

</div>
