<h1 class="center">Shoping list</h1>
<div class="fle-box">
    <h3>
      Amount of food to buy: <%= @total_amount%>
    </h3>
    <h3>
      Total value of food needed: $<%= @total_value%>
    </h3>
</div>
<table>
  <tr><th>Food</th><th>quantity</th><th>price</th></tr>
  <% @shoping_lists.each do |food| %>
  <tr>
    <td><%= food.name%></td>
    <td><%= food.quantity%></td>
    <td>$<%= food.price%></td>
  </tr>
  <% end %>

</table>

