<h1>Shoping list</h1>
<div class="fle-box">
  <div>
    <h3>
      Amount of food to buy: <%= @shoping_lists.length%>
    </h3>
    <h3>
      Total value of food needed: <%= @shoping_lists.reduce(0) {|sum,list| sum+list.price}%>
    </h3>
  </div>
  <div>
    <h3>
      Recipe: <%= @shoping_lists.length%>
    </h3>
  </div>
</div>
<table>
  <tr><th>Food</th><th>quantity</th><th>price</th></tr>
  <% @shoping_lists.each do |food| %>
  <tr>
    <td><%= food.name%></td>
    <td><%= food.quantity%></td>
    <td>$<%= food.price%></td>
  </tr>
  <% end %>

</table>
    <div class="action-buttons">
    <%= button_to 'Home', user_path(current_user), method: :get, class: "success"%>
    </div>

