<h2>Shoping list</h2>
<div class='content_details'>
    <h3>
      Amount of food items to buy: <%= @foods.count %> items
    </h3>
    <h3>
      Total value of food needed: $<%= @prices %>
    </h3>
</div>

<div class='content_table'>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.food.name %></td>
      <td><%= "#{food.quantity} #{food.food.measurement_unit}" %></td>
      <td><%=  food.food.price * food.quantity  %></td>
    </tr>
  <% end %>

  </tbody>
</table>

</div>
