<h1 class="center">Shoping list</h1>
<div class="fle-box">
    <h3>
      Amount of food items to buy: <%= @total_amount%>
    </h3>
    <h3>
      Total value of food needed: $<%= @total_value%>
    </h3>
</div>
<table>
  <tr><th>Food    <span class="flex-column">
  <%= link_to raw('&#9650;'), user_shoping_lists_path(sort: true, row:'food', order: "asc")%>
  <%= link_to raw('&#9660;'), user_shoping_lists_path(sort: true, row:'food', order: "des") %>
  </span></th><th>quantity</th><th>price
    <span class="flex-column">
  <%= link_to raw('&#9650;'), user_shoping_lists_path(sort: true, row:'price', order: "asc")%>
  <%= link_to raw('&#9660;'), user_shoping_lists_path(sort: true, row:'price', order: "des") %>
  </span></th></tr>
  <% @shoping_lists.each do |food| %>
  <tr>
    <td><%= food.name%></td>
    <td><%= food.quantity%> <%=food.measurement_unit%></td>
    <td>$<%= food.price%></td>
  </tr>
  <% end %>

</table>

