<h2>Forgot your password?</h2>

<div class='form_section'>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>

    <%= f.submit "Send me reset password instructions" %>
<% end %>

<div class='content_details'>
<%= render "devise/shared/links" %>
</div>
</div>