<h2>Log in</h2>
<div class='form_section'>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" %>

    <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password" %>

  <% if devise_mapping.rememberable? %>
    <div>
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

    <%= f.submit "Log in"%>
<% end %>

<div class='content_details'>
<%= render "devise/shared/links" %>
</div>
</div>
