
    <%= button_to 'Add new food', new_user_food_path, method: :get,class: "success right"%>

<div class="pop-container centerXY">
  <table class="strip">
    <tr><th>Food</th><th>Measurement unit</th><th>Unit price</th><th>quantity</th><th>Action</th></tr>
    <% @my_foods.each do |food| %>
      <tr>
        <td><%= food.name%></td>
        <td><%= food.measurement_unit%></td>
        <td><%= food.price%></td>
        <td><%= food.quantity%></td>
        <td><%= button_to 'Delete', user_food_path(id: food), method: :delete, class: "danger"%></td>
      </tr>
    <% end %>
  </table>
</div>
