<div class='form_section'> 
<%= form_with mode: @new_food, url: foods_path do |form| %>
  <%= form.text_field :name, placeholder: "Name"%>
  <%= form.text_field :measurement_unit , placeholder: "Measure unit"%>
  <%= form.number_field :price, placeholder: "Unite price"%>
  <%= form.number_field :quantity, placeholder: "Quantity"%>
  <%= form.submit%>
<% end %>
</div>
